<li>
<%=image_tag utilization.identity.user.avatar? ? utilization.identity.user.avatar.url(:small) : utilization.identity.user.gravatar, :class => 'small-user-avatar', :alt => utilization.identity.user %>
<%= utilization.identity.user %> @ <%=link_to utilization.resource.name, utilization.resource %> - <%=time_ago_in_words(utilization.created_at)%> ago</li>
