body {
   margin:0px;
   padding:0px;
   font-family:'Verdana',sans-serif;
   background-color:#ebebeb;
   color:#222;
}

#header {
   background-color:#77b5cf;
   border-bottom:1px solid #67a5bf;
   color:#222;
   padding:10px 0px 12px;
}


#header-content {
   width:960px;
   margin:0px auto;
}

#header h1 {
   margin:0px;
}

#header h1 a {
   color:#333;
   text-shadow:0px -1px 0px #ccc;
}

#body {
   width:960px;
   margin:0px auto;
}

#flashes {
	width:960px;
	margin:0px auto;
}

#flashes p {
	background-color:#e6e6e6;
	border:1px solid #ccc;
	-webkit-box-shadow: #fff 1px 1px 0px;
	padding:10px;
	border-radius:5px;
}

#flashes .notice {
}
#flashes .error {
}
#flashes .alert {
}


#navbar {
   background-color:#ccc;
   padding:5px;
   color:#333;
   border-bottom:1px solid #aaa;
   border-top:1px solid #fff;
}

a,a:visited {
   text-decoration:none;
   color:#338;
}

a:hover {
   border-bottom:1px solid #338;
}

#navbar-content {
   width:960px; margin:0px auto;
}

#navbar .user-info {
   font-size:12px;
   line-height:20px;
   float:right;
}

br.clear {
   clear:both;
}

.small-user-avatar {
   width:100px;
   height:100px;
}

#recent-activity {
   list-style-type:none;
}

#recent-activity li {
   border:1px solid #aaa;
   background-color:#ccc;
   border-radius:5px;
   margin:10px;
   padding:10px;
   clear:left;
   min-height:100px;
   font-size:30px;
   line-height:100px;
   color:#555;
   font-weight:bold;
   text-shadow:0px 1px 0px #fff;
   -webkit-box-shadow: #fff 1px 1px 0px;
}

#recent-activity li img {
   float:left;
   margin-right:10px;
}